<div *ngIf="!loading && posts.length > 0">
  <mat-spinner *ngIf="loading"></mat-spinner>

  <mat-accordion *ngFor="let post of posts; let i = index">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        {{ post.title }}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row *ngIf="isUserAuthenticated && userId === post.creator">
          <a [routerLink]="['/edit', post.id]" mat-button color="accent" type="button" (click)="onEditComment()">Edit</a>
          <button mat-button color="warn" type="button" (click)="onDeleteComment(post.id)">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<h2 class="text-center" *ngIf="!loading && posts.length < 1">
  <strong>No post available</strong>
</h2>

<mat-paginator [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="totalPosts > 0"></mat-paginator>
