mat-expansion-panel {
  margin-bottom: 0.7rem;
  transition: all 0.3s;
}

mat-expansion-panel.mat-expanded {
  transform: scale(1);
  margin-bottom: 0.7rem;
}

.post-image {
  height: 7rem;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 2rem;

  img {
      height: 100%;
  }
}
