

mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 7rem;
    margin: 0rem auto;
    border-radius: 8px;
}